@import '~bootstrap';
@import '~@fortawesome/fontawesome-free';
@import '~@fontsource/roboto-condensed';

body {
    background-image: url("img/tlo_str.jpg");
    height: 100%;

}
textarea {
    color: black;
}
